<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div ng-include="'components/gtdHeader.html'"></div>
    <div ng-include="'components/sideBar.html'"></div>
    <!-- /.navbar-static-side -->
  </nav>
  <div id="page-wrapper">
    <br>

    <div class="row">
      <div class="panel panel-{{dream.color}}">
        <div class="panel-heading">
          <i class="fa {{dream.icon}} fa-fw"></i>
          {{dream.name}}
        </div>
        <div class="panel-body">
          <div class="well">
            <div ng-bind-html="parseHtml(dream.info)"></div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading">
              已有任务
            </div>
            <div class="panel-body">
            <div class="well" data-ng-repeat="task in tasks" ng-if="!task.finished">
              <div class="row">
                <div class="col-md-8">
                  <input type="text" class="form-control" ng-model="task.name" placeholder="任务描述"/>
                </div>
                <div class="col-md-4">
                  <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup ng-model="task.dueTime" is-open="task.opened" close-text="关闭" current-text="今天" clear-text="清除" placeholder="过期时间"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn default" ng-click="openTask($event,task)"><i class="fa fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1" data-ng-repeat="tag in task.tags">
                  <button type="button" class="btn btn-circle btn-{{tag.color}}"
                          ng-click="removeTaskTag(tag,task)">
                    <i class="fa" ng-class="tag.icon"></i>
                  </button>
                  {{tag.name}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <input type="text" ng-model="task.selectTaskTag" class="form-control" placeholder="添加标签"
                         typeahead="tag as tag.name for tag in tags | filter:{name : $viewValue} | limitTo:8"
                         typeahead-on-select="addTaskTag(task)"/>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-success btn-outline" ng-click="saveTask(task)">保存</button>
                  <button type="button" class="btn btn-danger btn-outline" ng-click="finishedTask(task)">完成任务</button>
                  <button type="button" class="btn btn-info btn-outline" ng-click="deleteTask(task)">删除任务</button>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="panel panel-danger">
            <div class="panel-heading">
              新建任务
            </div>
            <div class="panel-body">
              <div class="well">
                <div class="row">
                  <div class="col-md-8">
                    <input type="text" ng-model="task" class="form-control" placeholder="任务描述">
                  </div>
                  <div class="col-md-4">
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup ng-model="dt"
                             is-open="opened"
                             close-text="关闭" current-text="今天" clear-text="清除" placeholder="过期时间"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-1" data-ng-repeat="tag in selectTags">
                    <button type="button" class="btn btn-circle btn-{{tag.color}}"
                            ng-click="removeTag(tag)">
                      <i class="fa" ng-class="tag.icon"></i>
                    </button>
                    {{tag.name}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <input type="text" ng-model="selectTag" class="form-control" placeholder="添加标签"
                           typeahead="tag as tag.name for tag in tags | filter:{name : $viewValue} | limitTo:8"
                           typeahead-on-select="addTag()"/>
                  </div>
                  <div class="col-md-2">
                    <button type="button" class="btn btn-success" ng-click="save()"><i
                      class="fa fa-save"></i> 保存
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              历史任务
            </div>
            <div class="panel-body">
            <div class="well" data-ng-repeat="task in tasks" ng-if="task.finished">
              <div class="row">
                <div class="col-md-8">
                  <input type="text" disabled class="form-control" ng-model="task.name"/>
                </div>
                <div class="col-md-4">
                  <p class="input-group">
                    <input disabled type="text" class="form-control" datepicker-popup ng-model="task.dueTime" is-open="task.opened" close-text="关闭" current-text="今天" clear-text="清除" placeholder="过期时间"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn default" ng-click="openTask($event,task)"><i class="fa fa-calendar"></i></button>
                      </span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1" data-ng-repeat="tag in task.tags">
                  <button type="button" class="btn btn-circle btn-{{tag.color}}">
                    <i class="fa" ng-class="tag.icon"></i>
                  </button>
                  {{tag.name}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 text-info">
                  已完成
                </div>
                <div class="col-md-4 ">
                  <button type="button" class="btn btn-danger btn-outline" ng-click="finishedTask(task)">重新打开</button>
                  <button type="button" class="btn btn-info btn-outline" ng-click="deleteTask(task)">删除任务</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-wrapper -->


</div>
<!-- /#wrapper -->
