<div id="wrapper">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div ng-include="'components/gtdHeader.html'"></div>
    <div ng-include="'components/sideBar.html'"></div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <div ng-include="'components/adminHeader.html'"></div>
    <!-- /.row -->
    <div class="row">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <i class="fa fa-shopping-cart fa-fw"></i>
          所有标签
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" >
                <li data-ng-repeat="tag in tags">
                  <button class="btn btn-default btn-{{tag.color}}" tooltip="{{tag.info}}">
                    <i class="fa" ng-class="tag.icon"></i>&nbsp;{{tag.name}}
                    <a class="remove-button" ng-click="remove(tag)">×</a>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="请输入标签"
                   ng-model="tag">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="add()">
                                      添加
                                    </button>
                                </span>
          </div>
          <br>

          <div class="alert alert-info">
            <p>
              标签添加格式为：标签名称:颜色:图标:其他信息
            </p>
          </div>
          <div class="alert alert-warning">
            <p>
              例如输入: <em>朋友:danger:fa-heart:我的朋友</em>
            </p>
            <br>

            <p>
            <span class="chat-img pull-left">
                   <button type="button" class="btn btn-circle btn-danger btn-lg">
                     <i class="fa fa-heart"></i>
                   </button>
            </span>
            <div class="clearfix">
              <h4>
                <strong class="primary-font">朋友</strong>
                <small>
                  我的朋友
                </small>
              </h4>
            </div>
            </p>
          </div>
          <div class="alert alert-dismissable">
            <p>
              一些常用标签如下：
              <i class="fa fa-check"></i> fa-check
              <i class="fa fa-list"></i> fa-list
              <i class="fa fa-link"></i> fa-link
              <i class="fa fa-times"></i> fa-times
              <i class="fa fa-heart"></i> fa-heart
              <a class="btn btn-info btn-xs" ng-href="/helper/icon">查看全部</a>
            </p>

            <p>
              一些常用颜色如下：
              <button type="button" class="btn btn-primary btn-xs">
                primary
              </button>
              <button type="button" class="btn btn-default btn-xs">
                default
              </button>
              <button type="button" class="btn btn-success btn-xs">
                success
              </button>
              <button type="button" class="btn btn-info btn-xs">
                info
              </button>
              <button type="button" class="btn btn-danger btn-xs">
                danger
              </button>
              <button type="button" class="btn btn-warning btn-xs">
                warning
              </button>
            </p>
          </div>
        </div>
        <!-- /.panel-footer -->
      </div>
    </div>
  </div>
  <!-- /#page-wrapper -->


</div>
<!-- /#wrapper -->
