<div class="navbar-header">
    <a class="navbar-brand " href="/admin">CDream
        <small><span class="label label-success">{{softVersion}}版本</span></small>
    </a>
</div>
<ul class="nav navbar-top-links navbar-right">
    <li>
        <a href="/helper1">
          <i class="fa fa-question"></i>&nbsp;帮助
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/admin">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="/profile"><i class="fa fa-user fa-fw"></i> 用户信息</a>
            </li>
            <li class="divider"></li>
            <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> 返回主页</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
