<div class="navbar-header">
    <a class="navbar-brand " href="/admin">CDream
        <small><span class="label label-success">{{softVersion}}版本</span></small>
    </a>
</div>
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/admin">
            <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <!--<ul class="dropdown-menu dropdown-messages">-->
        <!--<li>-->
        <!--<a href="#admin">-->
        <!--<div>-->
        <!--<strong>John Smith</strong>-->
        <!--<span class="pull-right text-muted">-->
        <!--<em>Yesterday</em>-->
        <!--</span>-->
        <!--</div>-->
        <!--<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="divider"></li>-->
        <!--<li>-->
        <!--<a class="text-center" href="#">-->
        <!--<strong>Read All Messages</strong>-->
        <!--<i class="fa fa-angle-right"></i>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!-- /.dropdown-messages -->
    </li>
    <!-- /.dropdown -->
    <!--<li class="dropdown">-->
    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
    <!--<i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>-->
    <!--</a>-->
    <!--&lt;!&ndash; /.dropdown-tasks &ndash;&gt;-->
    <!--</li>-->
    <!--&lt;!&ndash; /.dropdown &ndash;&gt;-->
    <!--<li class="dropdown">-->
    <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
    <!--<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
    <!--</a>-->
    <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
    <!--</li>-->
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="/profile"><i class="fa fa-user fa-fw"></i> 用户信息</a>
            </li>
            <li class="divider"></li>
            <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> 返回主页</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
